%h1 Sign in
.row
  .col-md-6.col-md-offset-3
    = form_for(:tenant, url: tenants_sessions_path, html: {id: 'session'}) do |f|

      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'

      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'

      = f.submit 'Sign in', class: 'btn btn-primary'