%header.navbar.navbar-fixed-top.navbar-default{role: :banner}
  .container
    .collapse.navbar-collapse{role: :navigation}
      %ul.nav.navbar-nav.navbar-right
        - unless signed_in?
          %li= link_to 'User login', new_users_sessions_path

        %li.divider-vertical

        - if signed_in?
          %li= link_to "Sign out (#{current_user.email})", sessions_path, method: :delete
        - else
          %li= link_to 'Tenant login', new_tenants_sessions_path
          %li= link_to 'Tenant register', new_tenant_path